<thead>
    <tr>
    <td class="button-column-width"><button class="button button-new" onclick="newLine()">New</button></td>
    <td class="button-column-width"><button class="button button-reset" onclick="reset('Customers')">Reset</button></td>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    </tr>
</thead>
<tbody>
    <% for (const customer of customers) { %>
    <tr>
    <td><button class="button button-edit" <%- `onclick="editLineSetup(event, ${customer.customerID})"` %>>Edit</button></td>
    <td><button class="button button-delete" <%- `onclick="deleteLine(${customer.customerID})"` %>>Delete</button></td>
    <td><%= customer.customerID %></td>
    <td><%= customer.firstName %></td>
    <td><%= customer.lastName %></td>
    <td><%= customer.email %></td>
    <td><%= customer.phoneNumber %></td>
    </tr>
    <% } %>
</tbody>