


<div class="filterform-container" id="filterFormContainer">
  <h3>Filter by:</h3>
  <form class="form" method="get" id="filterForm">
    <% for (const key of data.order) { 
      const entry = data.form[key];
      if (entry.filter) { 
        if (entry.join) { %>
          <!-- Dropdown filter for join fields -->
          <div class="input-group">
            <label for="filter<%= key %>"><%= entry.display %>:</label>
            <select name="<%= key %>" id="<%= `filter${key}` %>">
              <option value="" selected>All</option>
              <% (data.additionalData[key] || []).forEach(option => {
                const keys = Object.keys(option);
                const value = option[keys[0]]; // The value to filter by.
                let displayText = keys.slice(1).map(k => option[k]).join(' '); // Text to display.
                if (entry.join.appendUnit) {
                  displayText += ` ${entry.join.appendUnit}`; // Append unit if specified.
                }
              %>
                <option value="<%= value %>"><%= `${value}: ${displayText}` %></option>
              <% }); %>
            </select>
          </div>
        <% } else { %>
          <!-- Regular input field for filter -->
          <div class="input-group">
            <label for="filter<%= key %>"><%= entry.display %>:</label>
            <input 
              type="<%= entry.input.type %>" 
              placeholder="<%= entry.display %>" 
              name="<%= key %>" 
              id="<%= `filter${key}` %>"
              value="<%= entry.currentValue %>"
            />
          </div>
        <% }
      }
    } %>
    <button type="submit" class="button button-green" id="filterBtn">Filter</button>
    <button class="button button-red" type="button" onclick="clearFilters(event)">Clear</button>
  </form>
</div>



<!-- <div class="filterform-container">
  <h3>Filter by:</h3>
  <form class="form" method="get" id="filterForm">
    <% for (const key in data.form) {
      let entry = data.form[key];
      if (entry.form == true) {
        if (entry.input == "table") {

        } else { %>
          <input
            name="<%= key %>"
            type="<%= entry.input.type %>"
            placeholder="<%= entry.display %>"
          />
        <% }
      }
    } %>
    <button class="button button-green">Submit</button>
    <%# <button class="button button-red" onclick="clearFilters(event)">Clear</button> %>
  </form>
</div> -->